:root {
  --primary: #5B91C7;
  --secondary: #E8AE13;
  --black: #282828;
  --white: #ffffff;
}

/* allan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Allan';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/allan-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* @link https://utopia.fyi/type/calculator?c=320,12,1.25,1000,20,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.48rem, 0.3294rem + 0.7529vi, 0.8rem);
  --step--1: clamp(0.6rem, 0.4118rem + 0.9412vi, 1rem);
  --step-0: clamp(0.75rem, 0.5147rem + 1.1765vi, 1.25rem);
  --step-1: clamp(0.9375rem, 0.6434rem + 1.4706vi, 1.5625rem);
  --step-2: clamp(1.1719rem, 0.8042rem + 1.8382vi, 1.9531rem);
  --step-3: clamp(1.4648rem, 1.0053rem + 2.2978vi, 2.4414rem);
  --step-4: clamp(1.8311rem, 1.2566rem + 2.8722vi, 3.0518rem);
  --step-5: clamp(2.2888rem, 1.5708rem + 3.5903vi, 3.8147rem);
  --step-6: clamp(2.861rem, 1.9634rem + 4.4879vi, 4.7684rem);
  --step-7: clamp(3.5763rem, 2.4543rem + 5.6098vi, 5.9605rem);
}

html { scroll-behavior: smooth; }

body {
  background-color: var(--white);
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: var(--step-1);
  color: var(--black);
  line-height: 1.3em;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-family: 'Allan', sans-serif;
  font-size: var(--step-5);
}

h2 {
  font-family: 'Allan', sans-serif;
  font-size: var(--step-4);
  color: var(--primary);
}

h3 {
  font-family: 'Allan', sans-serif;
  font-size: var(--step-2);
}

@media (min-width: 768px) {
  body {
    font-size: var(--step--1);
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Navigation */

nav svg {
  width: 120px;
  height: auto;
}

.nav1 {
  background-color: var(--white);
  padding: 1rem 2rem;  
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.cls-1 {
  fill: var(--primary);
  stroke-width: 0px;
}

.nav2 {
  background-color: var(--white);
  padding: 1rem 2rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.nav2 .cls-1 {
  fill: var(--primary);
}

.nav-link {
  color: var(--primary);
  font-family: 'Allan', sans-serif;
  font-size: var(--step-4);
  padding: 1rem 0;
}

.nav-link:hover {
  color: var(--black);
}

.nav2 .nav-link {
  color: var(--primary);
}

.nav2 .nav-link:hover {
  color: var(--black);
}

.nav-bar-color {
  color: var(--primary);
}

.nav2 .nav-bar-color {
  color: var(--primary);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
}

.scroll .cls-1 {
  fill: var(--primary);
}

.scroll li a {
  color: var(--primary);
}

.scroll .nav-bar-color {
  color: var(--primary);
}

@media (min-width: 768px) {
  .nav-link {
    font-size: var(--step-2);
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2rem;
  }
  .cls-1 {
    fill: var(--white);
  }
  .nav-bar-color {
    color: var(--white);
  }
  .nav1 {
    background-color: transparent;
  }
  .scroll {
  background-color: var(--white);
  }

  .no-shadow {
    box-shadow: none;
  }

  .nav-link {
    color: var(--white);
    text-shadow: 2px 2px ff0000;  
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Footer */

footer {
  padding-bottom: 1rem;
  background-color: var(--black);
}

footer svg { 
  width: 120px;
  height: auto;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

footer .cls-1 {
  fill: var(--white);
}

footer img {
  width: 120px;
  height: auto;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
  
footer a {
  color: var(--white);
  font-family: 'Allan', sans-serif;
  font-size: var(--step-4);
  padding: 0 2rem 0 0;
  text-decoration: none;
}

footer a:hover {
  color: var(--primary);
}

.fg-white {
  color: var(--white);
}

.footer-menu, .footer-socials {
  flex-direction: column;
}

.footer-content {
  justify-content: space-between;
  padding-top: 2rem;
}

.footer-menu {
  padding-left: 2rem;
}

.footer-content a {
  margin-bottom: 1rem;
}

.footer-socials i {
  margin: 0 0 0 .5rem;
}
.footer-socials i:hover {
  color: var(--primary);
}

@media (min-width: 768px) {
  footer a {
    font-size: var(--step-2);
  }
  .footer-menu, .footer-socials {
    flex-direction: row;
  }
  .footer-menu {
    justify-content: end;
  }
  .footer-content {
    justify-content: end;
  }
  .story {
    column-count: 2;
    column-gap: 2rem;
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Header */

header {
  display: flex;
  height: 60vh;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: backgroundChange 10s steps(1) infinite;
}

@keyframes backgroundChange {
  0% {
    background-image: url(../images/bacio-header-image1.jpg);
  }
  20% {
    background-image: url(../images/bacio-header-image2.jpg);
  }
  40% {
    background-image: url(../images/bacio-header-image3.jpg);
  }
  60% {
    background-image: url(../images/bacio-header-image4.jpg);
  }
  80% {
    background-image: url(../images/bacio-header-image5.jpg);
  }
}

.header-content {
  margin: auto;
  position: relative;
}

.header-content a {
  position: absolute;
  left: 50%;
  transform: translateX(-60%);
}

.headline-home {
  font-size: var(--step-6);
  color: var(--white);
}

.button-light {
  border: none;
  border-bottom: 3px solid var(--white);
  background-color: transparent;
  padding: .2rem 0;
  font-family: 'Allan', sans-serif;
  font-size: var(--step-2);
  color: var(--white);
}

.button-light:hover {
  color: var(--black);
  border-color: var(--black);
}

.more-light {
  font-family: 'Allan', sans-serif;
  font-size: var(--step-1);
  color: var(--white);
  margin-bottom: .2rem;
}

.fg-color-white {
  color: var(--white);
}

.header-icon {
  display: none;
}

@media (min-width: 768px) {
  header {
    height: 100vh;
    }
  .header-icon {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Home */

.row>* {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

#info img {
  padding: 4rem 4rem 4rem 0;
}

#info .content {
  padding: 2rem;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.number {
  font-size: var(--step-7);
  color: var(--primary);
  padding-right: .3rem;
}

.number-box {
  display: flex;
  margin: 1rem 0;
}

.button-dark {
  border: none;
  background-color: transparent;
  font-family: 'Allan', sans-serif;
  font-size: var(--step-2);
  color: var(--black);
}

.button-dark:hover {
  color: var(--secondary);
}

.button-dark:focus-visible {
  outline: none;
}

.button-primary {
  border: none;
  background-color: transparent;
  font-family: 'Allan', sans-serif;
  font-size: var(--step-2);
  color: var(--primary);
}

.button-primary:hover {
  color: var(--secondary);
}

.button-primary:focus-visible {
  outline: none;
}

.tk-img-2 {
  display: none;
}

#tk .content {
  padding: 2rem;
}

@media (min-width: 768px) {
  #info .content {
    padding: 2rem 5rem 2rem 2rem;
  }

  .brand-info {
    position: relative;
  }

  .number-box:nth-child(2) {
    position: absolute;
    top: 4rem;
    left: 28rem;
  }

  .number-box:nth-child(3) {
    margin: 3rem 0 1rem 3em;
  }

  .tk-img-1 {
    display: none;
  }
  .tk-img-2 {
    display: block;
  }
  #tk .content {
    padding: 2rem 0 2rem 5rem;
  }
}

@media (min-width: 1640px) {
  .number-box:nth-child(2) {
    left: 30rem;
    top: 6rem;
  }
  .number-box:nth-child(3) {
    margin: 7rem 0 2rem 3rem;
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Impressum & Datenschutz & Kontakt */

#impressum, #dsgvo, #pizzeria, #danke {
  margin-top: 7rem;
}

a {
  font-family: 'Allan', sans-serif;
  color: var(--black);
  font-size: var(--step-1);
}

#pizzeria a {
  color: var(--black);
}

.input-group {
  position: relative;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}

.checkbox-group {
margin-bottom: 1rem;
}

.input-group input {
  display: block;
  height: 3rem;
  background-color: transparent;
  border: 2px solid var(--black);
  transition: all .3s ease;
  outline: none;
  width: 100%;
  color: var(--black);
  font-size: var(--step--1);
  font-weight: 300;
  padding-left: .5rem;
}

.input-group label {
  position: absolute;
  cursor: text;
  top: 2.5rem;
  left: 1rem;
  font-size: var(--step-0);
  color: var(--black);
  transition: all .2s ease;
  z-index: 2;
  font-family: 'Allan', sans-serif;
}

.input-group input:focus + label, 
.input-group input:not(:placeholder-shown) + label {
  font-size: var(--step--1);
  top: 0;
  left: .1rem;
}

input {
  box-sizing: border-box;
}

.input-group textarea {
  display: block;
  border: 2px solid var(--black);
  width: 100%;
  min-height: 10rem;
  transition: all .3s ease;
  outline: none;
  color: var(--black);
  font-size: var(--step-0);
  font-weight: 300;
  background-color: transparent;
}

.input-group textarea:focus + label,
.input-group textarea:not(:placeholder-shown) + label {
  font-size: var(--step--1);
  top: 0;
  left: .1rem;
}

textarea {
  box-sizing: border-box;
}

.check {
  border-radius: none;
  border: 2px solid var(--black);
}

.valid-feedback {
  color: var(--primary);
}

@media (min-width: 768px) {
  a {
    font-size: var(--step-0);
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Pizza & Produkte */

#pizza, #produkte {
  margin-top: 7rem;
  overflow: hidden;
}

.bg-dark {
  background-color: var(--black);
}

.fg-primary {
  color: var(--primary);
}

.button-white {
  border: none;
  background-color: transparent;
  font-family: 'Allan', sans-serif;
  font-size: var(--step-2);
  color: var(--white);
}

.button-white:hover {
  color: var(--secondary);
}

.vegetarisch {
  position: relative;
}

.vegetarisch-icon {
  position: absolute;
  top: 1.7rem;
  right: 8rem;
}

dialog {
  border: none;
  padding: 2rem 2rem 0 2rem; 
  position: relative;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.pizza-content {
  width: 100%;
  min-height: 15rem;
}

.tab-infos {
  display: none;
}

.accordion-button {
  font-size: var(--step-2);
}

.accordion-button:focus {
  box-shadow: none;
}


.accordion-button:not(.collapsed) {
  background-color: transparent;
}

a:-webkit-any-link:focus-visible {
  outline-offset: 0;
}

.number-container {
  display: flex;
  margin: 1rem 0;
}

.number-zubereitung {
  font-size: var(--step-7);
  color: var(--primary);
  padding-right: .3rem;
}

#ideen {
  margin: 5rem 0;
}

@media (min-width: 768px) {
  dialog {
    height: 87vh;
  }
  .vegetarisch-icon {
    top: 4.5rem;
    right: 8rem;
  }
  .pizza-content {
    width: 50%;
  }
  .tab-infos {
    display: block;
  }
  .accordion-infos {
    display: none;
  }

  .tab-infos {
    margin-top: 2rem;
  }

  .tablinks {
    background-color: transparent;
    border: none;
    font-family: 'Allan', sans-serif;
    font-size: var(--step-3);
    padding-bottom: .4rem;
    margin-right: 2rem;
  }
  .active {
    color: var(--primary);
  }
  .number-container {
    flex-wrap: nowrap;
    padding-right: 1rem;
  }
  .number-zubereitung {
    font-size: var(--step-5);
  }
  .naehrwerte {
    position: absolute;
    left: 37rem;
    bottom: 0;
  }
}

.insta {
  border: 2px solid var(--black);
}

.bestell-bestaetigung {
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  color: var(--black);
  font-family: 'Allan', sans-serif;
  font-size: var(--step-0);
  display: none;
  padding: 1rem;
  text-align: center;
}


@media (min-width: 992px) {
  .vegetarisch-icon {
    top: 3rem;
    right: 5rem;
  }
  .radio {
    padding-top: 4rem;
    padding-left: 8rem;
  }
}

@media (min-width: 1400px) {
  .vegetarisch-icon {
    top: 6rem;
    right: 10rem;
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Über Uns */

#history {
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.additional-text {
  display: none;
}

.more-btn {
  border: none;
  font-family: 'Allan', sans-serif;
  font-size: var(--step-2);
  background-color: transparent;
}

#reise {
  margin: 2rem 0;
}

#reise .carousel-indicators {
  background-color: var(--white);
  bottom: -1.5rem;
  margin: 0;
}

#reise .carousel-indicators button {
 background-color: var(--black);
}

.carousel {
  max-width: 80vw;
}

#reise .carousel .carousel-control-prev {
  background-color: var(--white);
  width: 3rem;
  left: -3rem;
  opacity: 1;
}

.carousel {
  display: flex;
  justify-content: center;
}

#reise .carousel .carousel-control-next {
  background-color: var(--white);
  width: 3rem;
  right: -3rem;
  opacity: 1;
}

.fg-dark {
  color: var(--black);
}

@media (min-width: 768px) {
  #history {
    display: flex;
  }

  #history .row {
    justify-content: center;
  }
  .history-content {
    max-width: 800px;
  }
  .pizza-content {
    padding: 4rem;
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Danke & Error */

#danke {
  margin-top: 15rem;
}

.grazie {
  position: relative;
}

.grazie img {
  position: absolute;
  height: 6rem;
  width: auto;
  right: 19rem;
}

#error {
  margin-top: 12rem;
}

#error h1 {
  font-size: 10rem;
}

.error-container {
  position: relative;
}

#error img {
  height: 6rem;
  width: auto;
  position: absolute;
  top: -2rem;
  right: 6rem;
}

@media (min-width: 768px) {
  #error img {
    right: 32rem;
  }
}