:root {
  --primary: #5B91C7;
  --secondary: #00802B;
  --black: #3C3C3B;
  --white: #F7F4EB;
}

/* allan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Allan';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/allan-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* @link https://utopia.fyi/type/calculator?c=320,12,1.25,1000,20,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.48rem, 0.3294rem + 0.7529vi, 0.8rem);
  --step--1: clamp(0.6rem, 0.4118rem + 0.9412vi, 1rem);
  --step-0: clamp(0.75rem, 0.5147rem + 1.1765vi, 1.25rem);
  --step-1: clamp(0.9375rem, 0.6434rem + 1.4706vi, 1.5625rem);
  --step-2: clamp(1.1719rem, 0.8042rem + 1.8382vi, 1.9531rem);
  --step-3: clamp(1.4648rem, 1.0053rem + 2.2978vi, 2.4414rem);
  --step-4: clamp(1.8311rem, 1.2566rem + 2.8722vi, 3.0518rem);
  --step-5: clamp(2.2888rem, 1.5708rem + 3.5903vi, 3.8147rem);
  --step-6: clamp(2.861rem, 1.9634rem + 4.4879vi, 4.7684rem);
  --step-7: clamp(3.5763rem, 2.4543rem + 5.6098vi, 5.9605rem);
}

html { scroll-behavior: smooth; }

body {
  background-color: var(--white);
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: var(--step-1);
  color: var(--black);
  line-height: 1.3em;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-family: 'Allan', sans-serif;
  font-size: var(--step-5);
}

h2 {
  font-family: 'Allan', sans-serif;
  font-size: var(--step-4);
}

@media (min-width: 768px) {
  body {
    font-size: var(--step--1);
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Navigation */

nav svg {
  width: 120px;
  height: auto;
}

.nav1 {
  background-color: var(--white);
  transition: all .4s ease-in-out;
  padding: 1rem 2rem;
}

.cls-1 {
  fill: var(--primary);
  stroke-width: 0px;
}

.nav2 {
  background-color: var(--white);
  padding: 1rem 2rem;
}

.nav2 .cls-1 {
  fill: var(--primary);
}

.nav1 .nav-item {
  margin-left: 2rem;
}

.nav-link {
  color: var(--primary);
  font-family: 'Allan', sans-serif;
  font-size: var(--step-4);
  padding: 1rem 0;
}

.nav-link:hover {
  color: var(--black);
}

.nav2 .nav-link {
  color: var(--primary);
}

.nav2 .nav-link:hover {
  color: var(--black);
}

.nav-bar-color {
  color: var(--primary);
}

.nav2 .nav-bar-color {
  color: var(--primary);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
}



.scroll .cls-1 {
  fill: var(--primary);
}

.scroll li a {
  color: var(--primary);
}

.scroll .nav-bar-color {
  color: var(--primary);
}

@media (min-width: 768px) {
  .nav-link {
    font-size: var(--step-2);
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2rem;
  }
  .cls-1 {
    fill: var(--white);
  }
  .nav-bar-color {
    color: var(--white);
  }
  .nav1 {
    background-color: transparent;
  }
  .scroll {
  background-color: var(--white);
  }
  .nav-link {
    color: var(--white);
    text-shadow: 2px 2px ff0000;  
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Footer */

footer {
  padding-bottom: 1rem;
}

footer img { 
  width: 120px;
  height: auto;
}
  
footer a {
  color: var(--primary);
  font-family: 'Allan', sans-serif;
  font-size: var(--step-4);
  padding: 1rem 2rem 1rem 0;
  text-decoration: none;
}

footer a:hover {
  color: var(--black);
}

.fg-primary {
  color: var(--primary);
}

.footer-menu, .footer-socials {
  flex-direction: column;
}

.footer-content {
  justify-content: space-between;
}

.footer-socials i {
  margin: 0 0 1rem 1rem;
}
.footer-socials i:hover {
  color: var(--black);
}

@media (min-width: 768px) {
  footer a {
    font-size: var(--step-2);
    padding: .6rem 2rem 0 ;
  }
  .footer-menu, .footer-socials {
    flex-direction: row;
  }
  .footer-menu {
    justify-content: end;
  }
  .footer-content {
    justify-content: end;
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Header */

header {
  display: flex;
  height: 50vh;
  background-image: url(../images/bacio-header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content {
  margin: auto;
  position: relative;
}

.header-content a {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
}

.headline-home {
  font-size: var(--step-6);
  color: var(--white);
}

.button-light {
  border: 2px solid var(--white);
  background-color: transparent;
  padding: .5rem 2rem;
  font-family: 'Allan', sans-serif;
  font-size: var(--step-1);
  color: var(--white);
}

.button-light:hover {
  background-color: var(--white);
  color: var(--primary);
}

.fg-color-white {
  color: var(--white);
}

.header-icon {
  display: none;
}

@media (min-width: 768px) {
  header {
    height: 100vh;
    }
  .header-icon {
    color: var(--white);
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Home */

.row>* {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

#info img {
  padding: 4rem 4rem 4rem 0;
}

#info .content {
  padding: 2rem;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.button-dark {
  border: 2px solid var(--black);
  background-color: transparent;
  padding: .5rem 2rem;
  font-family: 'Allan', sans-serif;
  font-size: var(--step-1);
  color: var(--black);
}

.button-dark:hover {
  background-color: var(--black);
  color: var(--white);
}

.tk-img-2 {
  display: none;
}

#tk .content {
  padding: 2rem;
}

@media (min-width: 768px) {
  #info .content {
    padding: 2rem 5rem 2rem 2rem;
  }
  #tk img {
    padding: 2rem 0 2rem 3rem;
  }
  .tk-img-1 {
    display: none;
  }
  .tk-img-2 {
    display: block;
  }
  #tk .content {
    padding: 2rem 0 2rem 5rem;
  }
}

/* ----------------------------------------------------------------------------------------*/
/* Impressum & Datenschutz & Kontakt */

#impressum, #dsgvo, #pizzeria, #danke {
  margin-top: 7rem;
}

a {
  font-family: 'Allan', sans-serif;
  color: var(--black);
  font-size: var(--step-1);
}

#pizzeria a {
  color: var(--black);
}

.input-group {
  position: relative;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}

.checkbox-group {
margin-bottom: 1rem;
}

.input-group input {
  display: block;
  height: 3rem;
  background-color: transparent;
  border: 2px solid var(--black);
  transition: all .3s ease;
  outline: none;
  width: 100%;
  color: var(--black);
  font-size: var(--step--1);
  font-weight: 300;
  padding-left: .5rem;
}

.input-group label {
  position: absolute;
  cursor: text;
  top: 2.5rem;
  left: 1rem;
  font-size: var(--step-0);
  color: var(--black);
  transition: all .2s ease;
  z-index: 2;
  font-family: 'Allan', sans-serif;
}

.input-group input:focus + label, 
.input-group input:not(:placeholder-shown) + label {
  font-size: var(--step--1);
  top: 0;
  left: .1rem;
}

input {
  box-sizing: border-box;
}

.input-group textarea {
  display: block;
  border: 2px solid var(--black);
  width: 100%;
  min-height: 10rem;
  transition: all .3s ease;
  outline: none;
  color: var(--black);
  font-size: var(--step-0);
  font-weight: 300;
  background-color: transparent;
}

.input-group textarea:focus + label,
.input-group textarea:not(:placeholder-shown) + label {
  font-size: var(--step--1);
  top: 0;
  left: .1rem;
}

textarea {
  box-sizing: border-box;
}

.check {
  border-radius: none;
  border: 2px solid var(--black);
}

.valid-feedback {
  color: var(--primary);
}

@media (min-width: 768px) {
  a {
    font-size: var(--step-0);
  }
}